/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000; /* Fondo oscuro */
    color: #fff;
    opacity: 0;
    transition: opacity 1.5s ease-in;
}

body.loaded {
    opacity: 1;
}

.content {
    padding: 20px;
    color: white;
}

/* Estilos de la navbar */
.navbar {
    display: flex;
    justify-content: space-between; /* Distribuye el logo, los enlaces y la parte derecha */
    align-items: center;
    background-color: #000000; /* Fondo de la navbar */
    padding: 10px 20px;
    border-bottom: 1px solid #333;
}

.navbar-logo {
    flex: 1; /* Logo ocupa espacio, pero no afecta el centrado de los enlaces */
}

.logo {
    width: 80px; /* Tamaño del logo */
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 2; /* Ocupa más espacio para centrar los enlaces */
    list-style-type: none;
    gap: 30px; /* Espacio entre los links */
    margin-right: 20%;
    padding: 0;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    text-decoration: none;
    color: #fff; /* Color blanco para los enlaces */
    font-size: 16px;
    padding: 5px 0; /* Añade algo de espacio alrededor del texto */
    position: relative;
    transition: all 0.3s ease-in-out; /* Suaviza la animación */
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: white; /* Color del borde */
    transform: scaleX(0); /* Inicialmente invisible */
    transition: transform 0.3s ease-in-out; /* Transición suave */
}

.nav-links a:hover::after {
    transform: scaleX(1); /* Borde crece horizontalmente */
}

/* Responsivo: Ajustar tamaño y espaciado en pantallas pequeñas */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        margin-right: 0;
        gap: 15px; /* Reducir el espacio entre enlaces en pantallas pequeñas */
    }

    .nav-links a {
        font-size: 14px; /* Reducir el tamaño de los enlaces en pantallas pequeñas */
    }
}

/*INPUT DE LA MATRIZ*/

.matrix-input {
    width: 50px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ffffffdc;
    border-radius: 5px;
    text-align: center;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: #000000;
    color: #fff;
}

.matrix-input:focus,
.matrix-input:hover {
    border-color: #007bff;
}

.matrix-input::-webkit-inner-spin-button,
.matrix-input::-webkit-outer-spin-button {
    opacity: 1;
    cursor: pointer;
}

.mb-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Responsivo: Ajustar los inputs en pantallas pequeñas */
@media (max-width: 768px) {
    .matrix-input {
        width: 80px; /* Ajuste de ancho en pantallas pequeñas */
        font-size: 16px;
    }
}

/* Estilos para los resultados */
.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.result {
    width: 50%;
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Responsivo: Ajuste de los resultados */
@media (max-width: 768px) {
    .result {
        width: 90%;
    }
}

/* Estilos para la tabla de la matriz inversa */
.result table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #000;
    color: #fff;
}

.result table td,
.result table th {
    border: 1px solid #ddd;
    padding: 12px;
}

.result table tr:nth-child(even) {
    background-color: #1a1a1a; /* Color para las filas pares */
}

/* Responsivo: Ajuste de la tabla en pantallas pequeñas */
@media (max-width: 768px) {
    .result table {
        font-size: 1rem;
    }
}

/* BOTON CALCULAR COFACTOR */

.login-box {
    position: relative;
    display: inline-block;
    margin-top: 5rem;
}

.login-box button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    overflow: hidden;
    transition: 0.5s;
    background-color: #03a8f400; /* Color base del botón */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-box button:hover {
    background: #438d91;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.login-box button span {
    position: absolute;
    display: block;
}

/* Animación de los bordes del botón */
.login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

/* Responsivo: Ajuste de botones en pantallas pequeñas */
@media (max-width: 768px) {
    .login-box button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
