<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matrices</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}" />
</head>

<body>

    <script>
        window.addEventListener('load', function() {
            document.body.classList.add('loaded');
        });
    </script>

    <nav class="navbar">
        <!-- Logo de la empresa -->
        <div class="navbar-logo">
            <a href="{{ url_for('index')}}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo" />
            </a>
        </div>
        <!-- Navbar -->
        <ul class="nav-links">
            <li>
                <a href="{{ url_for('index') }}">Matriz con Operaciones básicas</a>
            </li>
            <li>
                <a href="{{ url_for('cofactor') }}">Metodo de Cofactores</a>
            </li>
            <li><a href="{{ url_for('reduccion') }}">Ir a Reducción de Sistemas</a></li>
            <li><a href="#">Créditos</a></li>
        </ul>
    </nav>
    <div class="alinear">
        <h1>Matrices y Operaciones Básicas</h1>

        <h2>¿Qué es una matriz?</h2>
        <p>
            Una matriz es una estructura rectangular de números organizada <br />
            en filas y columnas. Cada elemento de una matriz se identifica <br />
            por su posición, que se describe como (i, j), donde i es la fila y j es
            la columna. <br />
            Las matrices son muy útiles en diversas áreas de las matemáticas y la
            informática, <br />
            como álgebra lineal, gráficos computacionales y procesamiento de datos.
        </p>

        <h3>
            Por ejemplo, una matriz de 3x3 (3 columnas y 3 filas) se vería así:
        </h3>
        <p class="matriz">
            \[ A = \begin{pmatrix} 1 & 2 & 3 \\ 4 & 5 & 6 \\ 7 & 8 & 9 \end{pmatrix}
            \]
        </p>
    </div>

    <hr class="animated-line">

    <div class="center-content">
        <h2 class="alinear">Operaciones Básicas con Matrices</h2>
    </div>


    <!-- Flip Cards Container -->
    <div class="flip-card-container">


        <!-- CARD DE SUMA -->
        <a href="{{ url_for('suma') }}" class="button">
            <div class="flip-card">
                <div href="{ url_for('suma') }" class="flip-card-inner">
                    <div class="flip-card-front">
                        <h1 class="titulos">Suma de Matrices</h1>
                    </div>
                    <div class="flip-card-back">
                        <!-- Contenido original de tu contenedor "container" -->
                        <div class="container">
                            <h2 class="fade-in">1. Suma de matrices \(A + B\):</h2>
                            <p class="fade-in">
                                Para sumar dos matrices, ambas deben tener las mismas
                                dimensiones (el mismo número de filas y columnas). <br />
                                La suma de matrices se realiza sumando los elementos
                                correspondientes de cada matriz.
                            </p>
                            <p class="equations fade-in">
                                \[ A = \begin{pmatrix} 1 & 2 & 3 \\ 4 & 5 & 6 \\ 7 & 8 & 9
                                \end{pmatrix}, \quad B = \begin{pmatrix} 9 & 8 & 7 \\ 6 & 5 & 4
                                \\ 3 & 2 & 1 \end{pmatrix} \]
                            </p>
                            <p class="equations fade-in">
                                \[ A + B = \begin{pmatrix} 1 + 9 & 2 + 8 & 3 + 7 \\ 4 + 6 & 5 +
                                5 & 6 + 4 \\ 7 + 3 & 8 + 2 & 9 + 1\end{pmatrix} \]
                            </p>
                            <h4>
                                La suma de las matrices A y B da como resultado la siguiente
                                matriz:
                            </h4>
                            <p class="equations fade-in">
                                \[ A + B = \begin{pmatrix} 10 & 10 & 10 \\ 10 & 10 & 10 \\ 10 &
                                10 & 10 \end{pmatrix} \]
                            </p>

                        </div>

                    </div>

                </div>
            </div>
        </a>

        <!-- CARD DE RESTA -->
        <a href="{{ url_for('resta') }}" class="button">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h1 class="titulos">Resta de Matrices</h1>
                    </div>
                    <div class="flip-card-back">
                        <div class="container">
                            <h2 class="fade-in">2. Resta de matrices \(A - B\):</h2>
                            <p>Al igual que con la suma, para restar dos matrices deben <br>
                                tener las mismas dimensiones. La resta se realiza restando <br>
                                los elementos correspondientes de las dos matrices.</p>

                            <p class="equations fade-in">
                                \[
                                A = \begin{pmatrix} 1 & 2 & 3 \\ 4 & 5 & 6 \\ 7 & 8 & 9 \end{pmatrix}, \quad
                                B = \begin{pmatrix} 9 & 8 & 7 \\ 6 & 5 & 4 \\ 3 & 2 & 1 \end{pmatrix}
                                \]
                            </p>
                            <p class="equations fade-in">
                                \[
                                A - B = \begin{pmatrix} 1 - 9 & 2 - 8 & 3 - 7 \\ 4 - 6 & 5 - 5 & 6 - 4 \\ 7 - 3 & 8 - 2
                                & 9
                                - 1 \end{pmatrix} \]
                            </p>
                            <h4>
                                La resta de las matrices A y B da como resultado la siguiente
                                matriz:
                            </h4>
                            <p class="equations fade-in">
                                \[
                                \begin{pmatrix} -8 & -6 & -4 \\ -2 & 0 & 2 \\ 4 & 6 & 8 \end{pmatrix}
                                \]
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <!-- CARD DE MULTIPLICACION(FALTA) -->
        <a href="{{ url_for('multiplicacion')}}" class="button">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h1 class="titulos">Multiplicación de Matrices</h1>
                    </div>
                    <div class="flip-card-back">
    
                        <div class="container">
                            <h2 class="fade-in">3. Multiplicación de Matrices \(A \cdot B\):</h2>
                            <p class="fade-in">
                                La multiplicación de matrices es un poco más compleja. <br> Para multiplicar
                                dos matrices, el número de columnas de la primera <br> matriz debe ser igual
                                al número de filas de la segunda matriz. La multiplicación <br> se realiza tomando
                                las filas de la primera matriz y multiplicándolas <br> por las columnas de la segunda
                                matriz, <br> sumando los productos obtenidos.
                            </p>
                            <p class="equations fade-in">
                                \[ A = \begin{pmatrix} 1 & 2 & 3 \\ 4 & 5 & 6 \\ 7 & 8 & 9
                                \end{pmatrix}, \quad B = \begin{pmatrix} 9 & 8 & 7 \\ 6 & 5 & 4
                                \\ 3 & 2 & 1 \end{pmatrix} \]
                            </p>
                            <p class="ecuacion fade-in">
                                \[
                                A \times B = \begin{pmatrix}
                                (1 \cdot 9 + 2 \cdot 6 + 3 \cdot 3) & (1 \cdot 8 + 2 \cdot 5 + 3 \cdot 2) & (1 \cdot 7 + 2
                                \cdot 4 + 3 \cdot 1) \\
                                (4 \cdot 9 + 5 \cdot 6 + 6 \cdot 3) & (4 \cdot 8 + 5 \cdot 5 + 6 \cdot 2) & (4 \cdot 7 + 5
                                \cdot 4 + 6 \cdot 1) \\
                                (7 \cdot 9 + 8 \cdot 6 + 9 \cdot 3) & (7 \cdot 8 + 8 \cdot 5 + 9 \cdot 2) & (7 \cdot 7 + 8
                                \cdot 4 + 9 \cdot 1)
                                \end{pmatrix}
                                \]
                            </p>
                            <h4>
                                La suma de las matrices A y B da como resultado la siguiente
                                matriz:
                            </h4>
                            <p class="equations fade-in">
                                \[
                                A \times B = \begin{pmatrix}
                                30 & 24 & 18 \\
                                84 & 69 & 54 \\
                                138 & 114 & 90
                                \end{pmatrix}
                                \]
                            </p>
    
                        </div>
    
                    </div>
                </div>
            </div>
        </a>
    </div>

    <hr class="animated-line">

    <!--CARD DE METODO DE COFACTORES-->

    <div class="content-section2">
        <div class="section-title">
            
        </div>

        <div class="section-wrapper"> <!-- Nuevo contenedor flexbox -->
            <div class="section-content"> <!-- Información del cofactor-->
                <h1 class="alinear2">Método de Cofactores</h1>
                <p>
                    El método de cofactores se utiliza para encontrar el determinante de matrices cuadradas de cualquier
                    tamaño. Para entenderlo mejor, primero debes conocer dos conceptos clave: el <strong>menor</strong>
                    y el <strong>cofactor</strong>.
                <ul>
                    <li>
                        <strong>Menor de un elemento:</strong> Es el determinante de la matriz que se obtiene eliminando
                        la fila y la columna del elemento seleccionado.
                    </li>
                    <li>
                        <strong>Cofactor de un elemento:</strong> Es el menor del elemento, multiplicado por
                        \((-1)^{i+j}\), donde \(i\) es el número de la fila y \(j\) el número de la columna del
                        elemento.
                    </li>
                </ul>
                </p>

                <p>
                    <strong>Aplicaciones del Método de Cofactores</strong><br>
                    El <strong>determinante</strong> calculado usando el método de cofactores tiene varias aplicaciones, como:
                    <ul>
                        <li>
                            <strong>Solución de sistemas de ecuaciones:</strong> Determinar si un sistema tiene solución única, infinita o ninguna solución.
                        </li>
                        <li>
                            <strong>Cálculo de áreas y volúmenes:</strong> En geometría analítica y cálculo vectorial.
                        </li>
                        <li>
                            <strong>Transformaciones lineales:</strong> Para entender cómo una transformación afecta el espacio en el que opera (como la rotación o escalado de objetos).
                        </li>
                    </ul>
                </p>
                
                <p>
                    <strong>Ventajas del Método de Cofactores</strong><br>
                    <ul>
                        <li>
                            <strong>Aplicable a matrices de cualquier tamaño:</strong> Aunque se vuelve más complejo a medida que la matriz crece, es un método versátil.
                        </li>
                        <li>
                            <strong>Fácil de entender en matrices pequeñas:</strong> Para matrices 2x2 y 3x3, el proceso es directo y fácil de seguir.
                        </li>
                    </ul>
                </p>
                
                <p>
                    <strong>Limitaciones</strong><br>
                    <ul>
                        <li>
                            <strong>Cálculo manual:</strong> Para matrices grandes, el método de cofactores se vuelve tedioso, pero los programas computacionales facilitan su implementación.
                        </li>
                    </ul>
                </p>
                
                
            </div>

            <a href="{{ url_for('cofactor') }}" class="flip-card-container2">
                <div> <!-- Flip-card a la derecha -->
                    <div class="flip-card2">
                        <div class="flip-card-inner2">
                            <div class="flip-card-front2">
                                <h1 class="titulos">Método de Cofactores</h1>
    
                            </div>
                            <div class="flip-card-back2">
                                <div class="container2">
                                    <h2 class="fade-in2">Pasos para calcular el determinante usando cofactores</h2>
                                    <p class="fade-in2">
                                        Ejemplo: Determinante de una matriz 3x3
                                    </p>
                                    <p class="equation3">
                                        \[ A = \begin{pmatrix} 1 & 2 & 3 \\ 4 & 5 & 6 \\ 7 & 8 & 9
                                        \end{pmatrix}\]
                                    </p>
    
                                    <p class="fade-in2">Paso 1: Elige una fila o columna para desarrollar el determinante.
                                         En este ejemplo, usaremos la primera fila.</p>
                                         <p>Paso 2: Calcula el cofactor de cada elemento de la fila elegida. Los cofactores se calculan eliminando 
                                            la fila y la columna del elemento correspondiente y multiplicando por \( (-1)^{i+j} \).
                                        </p>  
                                        
                                        <p class="ecuacion fade-in">
                                        
                                            Cofactor de \[ A_{11} = (-1)^{1+1} \times \begin{vmatrix} 5 & 6 \\ 8 & 9 \end{vmatrix} = 1 \times ((5 \times 9) - (6 \times 8)) = 1 \times (45 - 48) = -3 \]
    
                                        </p>
                                            
                                            <p class="ecuacion fade-in">
                                            Cofactor de \[ A_{11} = (-1)^{1+1} \times \begin{vmatrix} 5 & 6 \\ 8 & 9 \end{vmatrix} = 1 \times (45 - 48) = -3 \]
    
                                            </p>
                                            
                                            <p class="ecuacion fade-in">
                                            Cofactor de \[ A_{13} = (-1)^{1+3} \times \begin{vmatrix} 4 & 5 \\ 7 & 8 \end{vmatrix} = 1 \times ((4 \times 8) - (5 \times 7)) = 1 \times (32 - 35) = -3 \]
    
                                        </p>
    
                                        <p class="fade-in2">
                                            Paso 3: Calcula el determinante sumando los productos de cada elemento de la fila elegida por su cofactor:
                                        </p>
    
                                        <p class="ecuacion fade-in">
    
                                            \[ \text{Det}(A) = (1 \times -3) + (2 \times 6) + (3 \times -3) \]
    
                                        </p>
                                        <p class="ecuacion fade-in"></p>
    
                                        \[ \text{Det}(A) = -3 + 12 - 9 = 0 \]
    
                                        </p>
    
                                        <h3 class="fade-in2">Resultado
    
                                        </h3>
    
                                        <p class="fade-in2"> El determinante de la matriz A es 0
                                            
                                        </p>
                                    
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- Fin del flip-card -->
            </a>
        </div> <!-- Fin del contenedor flexbox -->

        <hr class="animated-line">

        <div class="section-wrapper"> <!-- Nuevo contenedor flexbox -->
            <div class="section-content"> <!-- Información del cofactor-->
                <h1 class="alinear2">Método de Regresion</h1>
                <p>
                    El método de cofactores se utiliza para encontrar el determinante de matrices cuadradas de cualquier
                    tamaño. Para entenderlo mejor, primero debes conocer dos conceptos clave: el <strong>menor</strong>
                    y el <strong>cofactor</strong>.
                <ul>
                    <li>
                        <strong>Menor de un elemento:</strong> Es el determinante de la matriz que se obtiene eliminando
                        la fila y la columna del elemento seleccionado.
                    </li>
                    <li>
                        <strong>Cofactor de un elemento:</strong> Es el menor del elemento, multiplicado por
                        \((-1)^{i+j}\), donde \(i\) es el número de la fila y \(j\) el número de la columna del
                        elemento.
                    </li>
                </ul>
                </p>

                <p>
                    <strong>Aplicaciones del Método de Cofactores</strong><br>
                    El <strong>determinante</strong> calculado usando el método de cofactores tiene varias aplicaciones, como:
                    <ul>
                        <li>
                            <strong>Solución de sistemas de ecuaciones:</strong> Determinar si un sistema tiene solución única, infinita o ninguna solución.
                        </li>
                        <li>
                            <strong>Cálculo de áreas y volúmenes:</strong> En geometría analítica y cálculo vectorial.
                        </li>
                        <li>
                            <strong>Transformaciones lineales:</strong> Para entender cómo una transformación afecta el espacio en el que opera (como la rotación o escalado de objetos).
                        </li>
                    </ul>
                </p>
                
                <p>
                    <strong>Ventajas del Método de Cofactores</strong><br>
                    <ul>
                        <li>
                            <strong>Aplicable a matrices de cualquier tamaño:</strong> Aunque se vuelve más complejo a medida que la matriz crece, es un método versátil.
                        </li>
                        <li>
                            <strong>Fácil de entender en matrices pequeñas:</strong> Para matrices 2x2 y 3x3, el proceso es directo y fácil de seguir.
                        </li>
                    </ul>
                </p>
                
                <p>
                    <strong>Limitaciones</strong><br>
                    <ul>
                        <li>
                            <strong>Cálculo manual:</strong> Para matrices grandes, el método de cofactores se vuelve tedioso, pero los programas computacionales facilitan su implementación.
                        </li>
                    </ul>
                </p>
                
                
            </div>

            <a href="{{ url_for('regresion') }}" class="flip-card-container2">
                <div> <!-- Flip-card a la derecha -->
                    <div class="flip-card2">
                        <div class="flip-card-inner2">
                            <div class="flip-card-front2">
                                <h1 class="titulos">Método de Regresion</h1>
    
                            </div>
                            <div class="flip-card-back2">
                                <div class="container2">
                                    <h2 class="fade-in2">Pasos para calcular el determinante usando cofactores</h2>
                                    <p class="fade-in2">
                                        Ejemplo: Determinante de una matriz 3x3
                                    </p>
                                    <p class="equation3">
                                        \[ A = \begin{pmatrix} 1 & 2 & 3 \\ 4 & 5 & 6 \\ 7 & 8 & 9
                                        \end{pmatrix}\]
                                    </p>
    
                                    <p class="fade-in2">Paso 1: Elige una fila o columna para desarrollar el determinante.
                                         En este ejemplo, usaremos la primera fila.</p>
                                         <p>Paso 2: Calcula el cofactor de cada elemento de la fila elegida. Los cofactores se calculan eliminando 
                                            la fila y la columna del elemento correspondiente y multiplicando por \( (-1)^{i+j} \).
                                        </p>  
                                        
                                        <p class="ecuacion fade-in">
                                        
                                            Cofactor de \[ A_{11} = (-1)^{1+1} \times \begin{vmatrix} 5 & 6 \\ 8 & 9 \end{vmatrix} = 1 \times ((5 \times 9) - (6 \times 8)) = 1 \times (45 - 48) = -3 \]
    
                                        </p>
                                            
                                            <p class="ecuacion fade-in">
                                            Cofactor de \[ A_{11} = (-1)^{1+1} \times \begin{vmatrix} 5 & 6 \\ 8 & 9 \end{vmatrix} = 1 \times (45 - 48) = -3 \]
    
                                            </p>
                                            
                                            <p class="ecuacion fade-in">
                                            Cofactor de \[ A_{13} = (-1)^{1+3} \times \begin{vmatrix} 4 & 5 \\ 7 & 8 \end{vmatrix} = 1 \times ((4 \times 8) - (5 \times 7)) = 1 \times (32 - 35) = -3 \]
    
                                        </p>
    
                                        <p class="fade-in2">
                                            Paso 3: Calcula el determinante sumando los productos de cada elemento de la fila elegida por su cofactor:
                                        </p>
    
                                        <p class="ecuacion fade-in">
    
                                            \[ \text{Det}(A) = (1 \times -3) + (2 \times 6) + (3 \times -3) \]
    
                                        </p>
                                        <p class="ecuacion fade-in"></p>
    
                                        \[ \text{Det}(A) = -3 + 12 - 9 = 0 \]
    
                                        </p>
    
                                        <h3 class="fade-in2">Resultado
    
                                        </h3>
    
                                        <p class="fade-in2"> El determinante de la matriz A es 0
                                            
                                        </p>
                                    
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- Fin del flip-card -->
            </a>
        </div> <!-- Fin del contenedor flexbox -->

        <hr class="animated-line">

        <div class="section-wrapper"> <!-- Nuevo contenedor flexbox -->
            <div class="section-content"> <!-- Información del cofactor-->
                <h1 class="alinear2">Método de Reducción</h1>
                <p>
                    El método de cofactores se utiliza para encontrar el determinante de matrices cuadradas de cualquier
                    tamaño. Para entenderlo mejor, primero debes conocer dos conceptos clave: el <strong>menor</strong>
                    y el <strong>cofactor</strong>.
                <ul>
                    <li>
                        <strong>Menor de un elemento:</strong> Es el determinante de la matriz que se obtiene eliminando
                        la fila y la columna del elemento seleccionado.
                    </li>
                    <li>
                        <strong>Cofactor de un elemento:</strong> Es el menor del elemento, multiplicado por
                        \((-1)^{i+j}\), donde \(i\) es el número de la fila y \(j\) el número de la columna del
                        elemento.
                    </li>
                </ul>
                </p>

                <p>
                    <strong>Aplicaciones del Método de Cofactores</strong><br>
                    El <strong>determinante</strong> calculado usando el método de cofactores tiene varias aplicaciones, como:
                    <ul>
                        <li>
                            <strong>Solución de sistemas de ecuaciones:</strong> Determinar si un sistema tiene solución única, infinita o ninguna solución.
                        </li>
                        <li>
                            <strong>Cálculo de áreas y volúmenes:</strong> En geometría analítica y cálculo vectorial.
                        </li>
                        <li>
                            <strong>Transformaciones lineales:</strong> Para entender cómo una transformación afecta el espacio en el que opera (como la rotación o escalado de objetos).
                        </li>
                    </ul>
                </p>
                
                <p>
                    <strong>Ventajas del Método de Cofactores</strong><br>
                    <ul>
                        <li>
                            <strong>Aplicable a matrices de cualquier tamaño:</strong> Aunque se vuelve más complejo a medida que la matriz crece, es un método versátil.
                        </li>
                        <li>
                            <strong>Fácil de entender en matrices pequeñas:</strong> Para matrices 2x2 y 3x3, el proceso es directo y fácil de seguir.
                        </li>
                    </ul>
                </p>
                
                <p>
                    <strong>Limitaciones</strong><br>
                    <ul>
                        <li>
                            <strong>Cálculo manual:</strong> Para matrices grandes, el método de cofactores se vuelve tedioso, pero los programas computacionales facilitan su implementación.
                        </li>
                    </ul>
                </p>
                
                
            </div>

            <a href="{{ url_for('reduccion') }}" class="flip-card-container2">
                <div> <!-- Flip-card a la derecha -->
                    <div class="flip-card2">
                        <div class="flip-card-inner2">
                            <div class="flip-card-front2">
                                <h1 class="titulos">Método de Reducción</h1>
    
                            </div>
                            <div class="flip-card-back2">
                                <div class="container2">
                                    <h2 class="fade-in2">Pasos para calcular el determinante usando cofactores</h2>
                                    <p class="fade-in2">
                                        Ejemplo: Determinante de una matriz 3x3
                                    </p>
                                    <p class="equation3">
                                        \[ A = \begin{pmatrix} 1 & 2 & 3 \\ 4 & 5 & 6 \\ 7 & 8 & 9
                                        \end{pmatrix}\]
                                    </p>
    
                                    <p class="fade-in2">Paso 1: Elige una fila o columna para desarrollar el determinante.
                                         En este ejemplo, usaremos la primera fila.</p>
                                         <p>Paso 2: Calcula el cofactor de cada elemento de la fila elegida. Los cofactores se calculan eliminando 
                                            la fila y la columna del elemento correspondiente y multiplicando por \( (-1)^{i+j} \).
                                        </p>  
                                        
                                        <p class="ecuacion fade-in">
                                        
                                            Cofactor de \[ A_{11} = (-1)^{1+1} \times \begin{vmatrix} 5 & 6 \\ 8 & 9 \end{vmatrix} = 1 \times ((5 \times 9) - (6 \times 8)) = 1 \times (45 - 48) = -3 \]
    
                                        </p>
                                            
                                            <p class="ecuacion fade-in">
                                            Cofactor de \[ A_{11} = (-1)^{1+1} \times \begin{vmatrix} 5 & 6 \\ 8 & 9 \end{vmatrix} = 1 \times (45 - 48) = -3 \]
    
                                            </p>
                                            
                                            <p class="ecuacion fade-in">
                                            Cofactor de \[ A_{13} = (-1)^{1+3} \times \begin{vmatrix} 4 & 5 \\ 7 & 8 \end{vmatrix} = 1 \times ((4 \times 8) - (5 \times 7)) = 1 \times (32 - 35) = -3 \]
    
                                        </p>
    
                                        <p class="fade-in2">
                                            Paso 3: Calcula el determinante sumando los productos de cada elemento de la fila elegida por su cofactor:
                                        </p>
    
                                        <p class="ecuacion fade-in">
    
                                            \[ \text{Det}(A) = (1 \times -3) + (2 \times 6) + (3 \times -3) \]
    
                                        </p>
                                        <p class="ecuacion fade-in"></p>
    
                                        \[ \text{Det}(A) = -3 + 12 - 9 = 0 \]
    
                                        </p>
    
                                        <h3 class="fade-in2">Resultado
    
                                        </h3>
    
                                        <p class="fade-in2"> El determinante de la matriz A es 0
                                            
                                        </p>
                                    
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- Fin del flip-card -->
            </a>
        </div> <!-- Fin del contenedor flexbox -->

    </div>

    <hr class="animated-line">




</body>

</html>