<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reducción de Matrices</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='reduccion.css') }}">
</head>

<body>

  <nav class="navbar">
    <!-- Logo de la empresa -->
    <div class="navbar-logo">
      <a href="{{ url_for('index')}}">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo" />
      </a>
    </div>
    <!-- Navbar -->
    <ul class="nav-links">
      <li>
        <a href="{{ url_for('index') }}">Matriz con Operaciones básicas</a>
      </li>
      <li>
        <a href="{{ url_for('cofactor') }}">Metodo de Cofactores</a>
      </li>
      <li><a href="{{ url_for('reduccion') }}">Reducción de Sistemas de Ecuaciones</a></li>
      <li><a href="{{ url_for('regresion') }}">Regresión Lineal</a></li>
    </ul>
  </nav>

  <h1>Reducción de Matrices 3x3</h1>

  <form method="POST" action="/reduccion">
    <h3>Matriz A y Vector C</h3>

    <div class="matrix-row">
      <span>x</span>
      <input type="number" name="matriz1_0_0" required class="matrix-input">
      <span>y</span>
      <input type="number" name="matriz1_0_1" required class="matrix-input">
      <span>z</span>
      <input type="number" name="matriz1_0_2" required class="matrix-input">
      <span>=</span>
      <input type="number" name="vector_c_0" required class="c-input">
    </div>

    <div class="matrix-row">
      <span>x</span>
      <input type="number" name="matriz1_1_0" required class="matrix-input">
      <span>y</span>
      <input type="number" name="matriz1_1_1" required class="matrix-input">
      <span>z</span>
      <input type="number" name="matriz1_1_2" required class="matrix-input">
      <span>=</span>
      <input type="number" name="vector_c_1" required class="c-input">
    </div>

    <div class="matrix-row">
      <span>x</span>
      <input type="number" name="matriz1_2_0" required class="matrix-input">
      <span>y</span>
      <input type="number" name="matriz1_2_1" required class="matrix-input">
      <span>z</span>
      <input type="number" name="matriz1_2_2" required class="matrix-input">
      <span>=</span>
      <input type="number" name="vector_c_2" required class="c-input">
    </div>

    <div class="text-center mt-4 login-box">
      <button type="submit" class="btn btn-primary">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Calcular reduccion
      </button>
    </div>
  </form>

  <div class="resultados-container">
    {% if determinante is not none and x and Y and Z %}
    <h2>Resultados</h2>
    <h3>Determinante de A: {{ determinante }}</h3>
    <p>x = {{ x }}</p>
    <p>Y = {{ Y }}</p>
    <p>Z = {{ Z }}</p>
    {% endif %}
  </div>

  {% if error %}
  <p class="error-message">{{ error }}</p>
  {% endif %}

</body>

</html>