<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suma de Matrices</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}">
</head>
<body>
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="{{ url_for('index') }}">Inicio</a></li>
        <li><a href="{{ url_for('suma') }}">Suma de Matrices</a></li>
        <li><a href="{{ url_for('cofactor') }}">Cofactores</a></li>
      </ul>
    </nav>

    <div class="center-content">
        <h1>Suma de Matrices</h1>
        <p>Aquí se implementará la lógica para sumar matrices.</p>
        <!-- En el futuro, puedes agregar un formulario o lógica de matrices aquí -->
    </div>
</body>
</html>
